<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sly.seata.storage.mapper.StorageMapper">
	<!-- 新增 -->
	<insert id="insert" parameterType="Storage">
		INSERT INTO `BUSINESS_STORAGE`(storageId,storageName,storageCount,logicDel,remark)
		VALUES(#{storageId},#{storageName},#{storageCount},#{logicDel},#{remark})
	</insert>
</mapper>