<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sly.seata.account.mapper.AccountMapper">
	<!-- 新增 -->
	<insert id="insert" parameterType="Account">
		INSERT INTO `BUSINESS_ACCOUNT`(accountId,amount,accountName,logicDel,remark)
		VALUES(#{accountId},#{amount},#{accountName},#{logicDel},#{remark})
	</insert>
</mapper>