<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sly.seata.order.mapper.OrderMapper">
	<!-- 新增 -->
	<insert id="insert" parameterType="Order">
		INSERT INTO `BUSINESS_ORDER`(orderId,orderNo,orderDetail,createTime,logicDel,remark)
		VALUES(#{orderId},#{orderNo},#{orderDetail},#{createTime},#{logicDel},#{remark})
	</insert>
</mapper>